{
  "presets": [
    "env",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-function-bind",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
