<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<script src="/paymentRequestPolyfill.js"></script>
<script>
  window.PaymentRequest = PaymentRequestPolyfill.default;

  const request = new window.Request('{{{paymentUrl}}}', {
    method: 'POST',
    body: '{{{body}}}',
  });

  window
    .fetch(request)
    .then(res => res.json())
    .then((res) => {
      window.PaymentRequest.notify3DSDone(res.status === 'OK');
    })
    .catch((err) => {
      throw err;
    });
</script>
</body>
</html>
